name: exam_schedule_app
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  # sdk: ">=2.18.0 <3.0.0"
    sdk: ^3.9.2
dependencies:
  flutter:
      sdk: flutter
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

